/* =====================================================
   Global Styles
   -----------------------------------------------------
   Resets, general body styles, and universal properties.
   ===================================================== */

html, body, .dashboard {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: var(--dashboard-bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: var(--blur-effect);
    background-color: var(--primary-bg-color);
    background-blend-mode: var(--bg-blend-mode);
}


/* =====================================================
   Specific Styles for .dashboard
   ===================================================== */
.dashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: flex;
    }
